<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="new_question">
        <observer name="question_observer" instance="Inchoo\Mailer\Observer\QuestionObserver" />
    </event>
</config>