<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inchoo_Faq::questions" title="Questions" translate="title" module="Inchoo_Faq" sortOrder="100" parent="Magento_Customer::customer" action="faq/questions" resource="Inchoo_Faq::questions"/>
    </menu>
</config>
